body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    height: 100vh;
}

.card {
    border: 2px solid salmon;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.62);
    width: 60%;
    margin: 0 auto;
}